a {text-decoration: none; color:#c0c0c0}
#a {text-align: center;}
#a, #a.several:empty {
	width: 300px;
	height: 300px;
	margin: 0.125em auto;
}
#a.several {
	width: auto;
	height: auto;
	margin: 0 auto;
}
#a iframe, #a div.svgDivError {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 0.125em;
	vertical-align: top;
}
svg {
	width: 300px;
	height: 300px;
}
iframe, #a, #a div.svgDivError {
	border: none;
}
html {
	background-color: #222;
	overflow-x:hidden;
}
#header *{margin: 0;}
.flex {display:flex;}
.row {flex-direction: row;}
.column {flex-direction: column;}
.vertical.center.horizontal {justify-content:center; align-items:center;}
#title {font-weight: bold; font-size:3.5rem;margin-bottom: 25px;text-align: center;line-height: 4rem;}
#header {padding:50px;margin-bottom:40px; color:white;}
/* ------------- */
/* CUSTOM COLOR */
/* ------------- */

.green {
	filter: invert(41%) sepia(75%) saturate(400%) hue-rotate(90deg) brightness(95%) contrast(108%)
}
.red {
	filter: invert(15%) sepia(70%) saturate(3500%) hue-rotate(0deg) brightness(115%) contrast(120%)
}
.orange.light, .orange {
	filter: invert(66%) sepia(71%) saturate(526%) hue-rotate(338deg) brightness(110%) contrast(94%)
}
.orange.dark, .orange {
	filter: invert(25%) sepia(18%) saturate(5500%) hue-rotate(348deg) brightness(160%) contrast(82%)
}
.pink.light, .pink {
	filter: invert(66%) sepia(71%) saturate(526%) hue-rotate(300deg) brightness(110%) contrast(94%)
}
.peach.light, .peach {
	filter: invert(66%) sepia(71%) saturate(526%) hue-rotate(320deg) brightness(110%) contrast(94%)
}
.salmon.light, .salmon {
	filter: invert(66%) sepia(71%) saturate(526%) hue-rotate(310deg) brightness(110%) contrast(94%)
}
.violet.light, .violet {
	filter: invert(66%) sepia(71%) saturate(526%) hue-rotate(290deg) brightness(110%) contrast(94%)
}
.turqoise.light, .turqoise {
	filter: invert(66%) sepia(71%) saturate(500%) hue-rotate(115deg) brightness(110%) contrast(94%)
}
.blue.light, .blue {
	filter: invert(32%) sepia(40%) saturate(2339%) hue-rotate(210deg) brightness(88%) contrast(84%);
}
.cyan.dark, .cyan {
	filter: invert(32%) sepia(40%) saturate(2339%) hue-rotate(150deg) brightness(88%) contrast(84%);
}
.dark.purple, .purple {
	filter: invert(20%) sepia(14%) saturate(814%) hue-rotate(305deg) brightness(103%) contrast(92%)
}
